
body {
    background-color: black;
    color: #FFE81F;
    font-family: 'Shippori Antique B1', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size:  1.5em;
}

header img {
    height: 100px;
    width: 233.6px;
}

header p {
    margin: 5pt 5pt 10pt 5pt;
}

#filmList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #999;
}


figcaption {
    text-align: center;
    font-size: xx-large;
    padding-bottom: .5em;
}