* {
    margin: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}


#navbar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: darkslategray;
    position: fixed;
}

.nav-list {
    display: flex;
    margin-right: 1.5rem;
    list-style-type: none;
}

.nav-list a {
    display: block;
    font-size: 1.65rem;
    padding: 2rem;
    color: white;
}

.nav-list a:hover {
    background-color: red;
}

#welcome-section{
    background-color: black;
    color: white;
    height: 100vh;
    
}

.projects-grid {
    background-color: forestgreen;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

.project-tile {
    margin: 1rem;
}

figcaption {
    text-align: center;
    font-size: x-large;
    color: white;
}

#contact {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

#contact h1 {
    font-size: 3rem;
}

#contact p {
    font-size: xx-large;
}
 