* {
    margin: 0;
    box-sizing: border-box;
}

#main {
    display:flex;
}

li {
    list-style: none;
}

.nav {
    margin-left: 1em;
}

#displaySection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: gray;
}