* {
    margin: 0;
    box-sizing: border-box;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    margin: 4px;
}

figure img {
    width: 200px;
}

figcaption {
    text-align: center;
}